.downloadPage {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-image: url('../../assets/img/downloadpage.jpg');
   background-size: cover;
   background-position: center;
}

.pageContainer {
   max-width: 1219.13px;
   width: 100%;
   height: 750px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.pageInfo {
   max-width: 545px;
   width: 100%;
   height: 342px;
   margin-bottom: 57px;
}

.info h2 {
   margin-right: 171px;
   color: #EAECE8;
   font-size: 32px;
   font-family: 'Poppins-bold';
   font-weight: 100;
}

.items {
   padding-left: 0;
}

.items li {
   display: flex;
   align-items: center;
   vertical-align: middle;
   list-style-type: none;
   margin-bottom: 16px;
   font-size: 18px;
   font-family: 'Poppins-medium';
   color: #EAECE8;
}

.items li::before {
   margin-right: 8px;
}

.items li:nth-child(1)::before {
   content: url('../../assets/img/barcodescanner.png');
}

.items li:nth-child(2)::before {
   content: url('../../assets/img/health.png');
}

.items li:nth-child(3)::before {
   content: url('../../assets/img/clipboard.png');
}

.items li:nth-child(4)::before {
   content: url('../../assets/img/clipboard2.png');
}

.review {
   display: flex !important;
   justify-content: center;
   align-items: center;
   width: 350px !important;
   height: 168px;
   box-sizing: border-box;
   background: rgba(0, 0, 0, 0.15);
   backdrop-filter: blur(24px);
   border: 2px solid rgba(244, 245, 246, 0.1);
   border-radius: 16px;
}

.slide {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1219.13px;
   width: 100%;
   height: 168px;
}

.sliders {
   max-width: 1082px;
   width: 100%;
   height: 168px;
}

.sliderImg {
   width: 100%;
   max-width: 1082px;
}


.reviewContainer {
   width: 302px;
   height: 136px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.starContainer {
   width: 132px;
   height: 20px;
   display: flex;
   justify-content: space-between;
}

.star {
   width: 20px;
   height: 20px;
   background-image: url('../../assets/img/rateus.png');
}

.reviewContainer p {
   font-size: 12px;
   font-weight: 400;
   font-family: 'Poppins-normal';
   color: #EAECE8;
}

.man {
   height: 24px;
   display: flex;
}

.man img {
   width: 24px;
   height: 24px;
   margin-right: 8px;
}

.man p {
   margin: 0;
}

.button {
   width: 255px;
   height: 48px;
   background-color: #77AF00;
   border-radius: 50px;
   border:none;
   color: #F1F7E6;
   font-size: 16px;
   font-weight: 600;
   font-family: 'Poppins-semibold';
   text-align: center;
}

.button:hover {
   cursor: pointer;
   background-color: #6c9b08;
}

.button:active {
   background-color: #5c830a;
}

.link a {
   text-decoration-style: dotted;
   color: #EAECE8;
   display: inline-block;
   font-family: 'Poppins-normal';
}

.link a:nth-child(1) {
   width: 119px;
}

.link a:nth-child(2) {
   margin-left: 32px;
}

.link {
   color: #EAECE8;
}

@media (max-width: 1200px) {
   .pageContainer {
      max-width: 853.17px;
      height: 700px;
      margin-top: 156px;
   }
   .downloadPage {
      background-image: url('../../assets/img/downloadpage1024.jpg');
   }
   .sliders {
      max-width: 716px;
   }
   .sliderImg {
      max-width: 716px;
   }
   .items li {
      margin-bottom: 19px;
   }
}

@media (max-width: 846px) {
   .pageContainer {
      margin-top: 100px;
      max-width: 343px;
      height: 750px;
   }
   .downloadPage {
      background-image: url('../../assets/img/downloadpage375.jpg');
   }
   .items li {
      margin-bottom: 16px;
   }
   .sliders {
      max-width: 343px;
   }
   .sliderImg {
      max-width: 343px;
   }
   .review {
      max-width: 343px;
   }
   .info h2 {
      margin-right: 0;
   }
   .button {
      margin-top: 63px;
   }
}

@media (min-width: 846px) and (max-height: 901px) {
   .downloadPage {
      min-height: 900px;
   }
}

@media (max-height: 854px) {
   .downloadPage {
      height: auto;
   }
}